<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <a href="/">Knockout demo</a>
    <a href="/Home/Angular">Angular demo</a>
    @RenderBody()

    @Scripts.Render("~/bundles/api")
    @Scripts.Render("~/signalr/hubs")
    @Scripts.Render("~/bundles/eventAggregator")
    @Scripts.Render("~/eventAggregation/events")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
